@media (max-width: 800px) {
  * {
    font-family: sans-serif;
  }

  .header {

    background-color: $color3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0rem 0rem;
    width: 100%;

    .toDo-heading {
      display: none;
    }
    .icon{
      display: inline;
    position: relative;
    // margin-left: 2px;
     left:15px;
      
    }


    >article {
      // background-color: red;
      position:relative;
      display: flex;
      flex-direction: row;
      align-items: end;
      // text-align: center;
      justify-content: space-around;
      padding: 0.5rem 0.5rem;
      width: 100%;
      right:-3px;

      >a {
        padding: 0.1rem 0.3rem;
        margin: 0.5rem;
        font-size: medium;
      }

      >button {
        padding: 0.1rem 0.3rem;
        margin: 0.5rem;
        font-size: medium;
      }

    }
  }

  .login {
    padding: 0rem;

    >section {
      padding: 1rem 0.1rem;
      margin: 0px;

      >form {
        margin: 0px;

        >input {
          width: 80%;
          font-size: small;
        }

        >button {
          width: 80%;
        }
      }
    }
  }

  .todo {
    border: 2px solid black;
    width: 80%;
    margin: 1px 0px;
    padding: 0rem;

    >div {
      h4 {
        font-size: medium;
      }

      p {
        font-size: smaller;
      }

      button {
        font-size: medium;
      }

    }
  }

  .todo_task {
    position: relative;
    width: 80%;
    margin: 0px 1px;
    left: -20px;
    padding: 0;
  }

  .todo_delete {
    margin: 0px 0px;
    padding: 0px;
    width: 35%;

    input {
      position: relative;
      margin: 5px;
      left: -5px;

    }

    button {
      margin: 0px -20px;
      border-radius: 0.5rem;
    }

  }


}