@import "features";

.resetPassContainer {
    width: min(70%, 30rem);
    max-height: 40vh;
    // border:2px solid black;
    position: fixed;
    border-radius: 0.3rem;
    left: 30%;
    top: 25%;
    box-shadow: $shadow;

    form {
        display: flex;
        flex-direction: column;
        padding: 2rem;

        input {
            padding:0.8rem;
            margin-bottom: 1rem;
            outline: none;
            border: 1px solid rgba(18, 18, 18, 0.381);
            border-radius: 0.3rem;
            font-family: $text1;
            &:hover {
                box-shadow: $shadow;
            }
        }

        button {
            padding: 0.8rem;
            background-color: rgba(247, 204, 204, 0.807);
            background-color: $color3;
            border-radius: 0.3rem;
            color: $color2;
            border: none;
            font-family: $text1;
            letter-spacing:0.1rem;
            &:hover {
                box-shadow: $shadow;
                cursor: pointer;
            }
        }

    }

}

@media (width<=728px) {
    .resetPassContainer {
        left:18%;
    }
}
@media (width<=500px) {
    .resetPassContainer {
        left: 2rem;
        width: (85%);
        // box-shadow: none;
        form{
            input{
                width:100%;
            }
        }
    }
}